* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
}


header {
	background: url('img/Header.png') no-repeat 50% 50%;
	width: 100%;
	height: 100vh;
	padding-top: 25px;
	object-fit: cover;
}

	.top-header {
		width: 100%;
		height: 10vh;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.logo {
		width: 30%;
		font-weight: 800;
		font-size: calc(1.25vw + 7.5px);
		color: aliceblue;
		transform: translateY(-7px);
		text-align: center;
 	}

	nav {
		width: 40%;
	}

		nav a {
			display: inline-block;
 			font-size: calc(0.75vw + 6px);
			font-family: "Myriad Pro";
			color: white;
			text-decoration: none;
			padding-right: calc(1.5vw + 7.5px);
			line-height: 1.714;
		}


	.caption {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
		height: calc(15vh + 5vw);
		width: 75vw;
		margin: 0 auto;
		margin-top: 35vh;
	}

		.caption-text_1 {
  			font-size: calc(2.5vw + 10px);
  			font-family: "Montserrat";
  			color: white;
  			text-transform: uppercase;
  			text-align: center;
		}

		.caption-text_2 {
			font-size: calc(1vw + 7.5px);
			text-align: center;
  		color: white;
  		letter-spacing: 1.5px;
		}

		.getStart-btn {
  			font-size: calc(0.5vw + 7.5px);
  			font-family: "Montserrat";
  			color: white;
  			text-transform: uppercase;
  			text-align: center;
  			height: calc(4vh + 1.5vw);
  			width: calc(6.5vw + 100px);
  			background-color: rgba(255, 255, 255, 0);
  			border: 1.6px solid white;
  			transition: all 0.2s linear;
		}

			.getStart-btn:hover {
				background-color: rgba(255, 255, 255, 1);
				color: red;
			}





.Services {
	display: block;
	width: 100%;
	height: 50vh;
	background-color: white;
}

	.services-title {
		width: 100%;
  	font-size: calc(1.25vw + 7.5px);
  	font-family: "Montserrat";
		color: black;
  	text-align: center;
		margin-top: 12.5vh;
	}

	.unvisible-text {
		width: 5vw;
		margin: 0 auto;
		font-size: calc(0.75vw + 3px);
		color: white;
		text-align: center;
		border-bottom: 1.5px solid black;
	}

	.services-subtitle {
		margin-top: 2.5vh;
		font-size: calc(1vw + 4px);
  	color: rgb(85, 85, 85);
		text-align: center;
	}


	.three-single-services {
		width: 100%;
		margin: 0 auto;
		margin-top: 12.5vh;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

		.first-single-services, .second-single-services, .third-single-services {
			 display: block;	
			 width: 33.3333333333333333333%;
		}

			.first-single-img, .second-single-img, .third-single-img {
				height: 90px;
				width: 90px;
				background-color: white;
				border-radius: 50%;
				text-align: center;
				margin: 0 auto;
				border: 2.5px lightgrey solid;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
			}
			.first-single-img {
				color: red;
				background-color: white;
				font-size: 70px;
				margin: 0 auto;
				transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
			}
				.first-single-img:hover {
					color: white;
					background-color: red;
				}

	.Single-services-mainTitle1, .Single-services-mainTitle2, .Single-services-mainTitle3 {
		text-align: center;
		margin: 15px auto;
	}

	.Single-services-title1, .Single-services-title2, .Single-services-title3 {
		text-align: center;
		width: calc(20vw + 100px);
		margin: 0 auto;
	}



.About {
	height: 100vh;
	background-color: rgb(233, 230, 230);
	display: block;
	margin-top: 20vh;
}
	.about-title {
		width: 100%;
  	font-size: calc(1.25vw + 7.5px);
  	font-family: "Montserrat";
		color: black;
  	text-align: center;
		padding-top: 10vh;
	}
	.unvisible-text-about {
		width: 5vw;
		margin: 0 auto;
		font-size: calc(0.75vw + 3px);
		color: rgb(233, 230, 230);
		text-align: center;
		border-bottom: 1.5px solid black;
	}
	.about-subtitle {
		margin-top: 2.5vh;
		font-size: calc(1vw + 4px);
  	color: rgb(85, 85, 85);
		text-align: center;
	}

	.about-block-title {
		padding-top: 7.5vh;
		width: 80%;
		font-size: calc(1vw + 7.5px);
		margin: 0 auto;
	}
	.first-about-block {
		width: 90%;
		margin: 0 auto;
		padding-top: 5vh;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}
		.f-a-img {
			height: 40vh;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
		}
			.f-a-img img {
				width: calc(10vw + 50px);
				height: calc(10vw + 50px);
			}
			.img-title {
				width: calc(10vw + 50px);
				text-align: center;
				font-size: calc(1vw + 10px);
			}
			.img-subtitle {
				width: calc(10vw + 50px);
				text-align: center;
				font-size: calc(0.75vw + 7.5px);
			}




@media screen and (max-width: 900px) and (min-width: 300px) {
	.top-header {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.logo {
		width: 5%;
		font-weight: 800;
		font-size: calc(1.25vw + 15px);
		transform: translateY(-7px);
 	}

		nav a {
 			font-size: calc(0.5vw + 10px);
			font-weight: 600;
			color: white;
			padding-right: calc(1.5vw + 5px);
			line-height: 1.714;
		}


	.caption {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
		height: calc(15vh + 10vw);
		width: 75vw;
		margin: 0 auto;
		margin-top: 25vh;
	}

		.caption-text_1 {
  			font-size: calc(2vw + 20px);
		}

		.caption-text_2 {
			font-size: calc(0.75vw + 12.5px);
  		letter-spacing: 1.5px;
		}

		.getStart-btn {
  			font-size: calc(0.25vw + 12.5px);
  			height: calc(5vh + 1.25vw);
  			width: calc(5vw + 125px);
  			border: 1.6px solid white;
		}


	.Services {
		display: block;
		width: 100%;
		height: 110vh;
		background-color: white;
	}

	.services-title {
  	font-size: calc(1.25vw + 12.5px);
		margin-top: 10vh;
	}

	.unvisible-text {
		width: 5vw;
		margin: 0 auto;
		font-size: calc(0.75vw + 3px);
		color: white;
		text-align: center;
		border-bottom: 1.5px solid black;
	}

	.services-subtitle {
		margin-top: 2.5vh;
		font-size: calc(1vw + 7.5px);
  	color: rgb(85, 85, 85);
		text-align: center;
	}


	.three-single-services {
		width: 80%;
		margin: 0 auto;
		margin-top: 5vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}

		.first-single-services, .second-single-services, .third-single-services {
			 width: 100%;
			 margin-top: 50px;
		}

	.Single-services-mainTitle1, .Single-services-mainTitle2, .Single-services-mainTitle3 {
		text-align: center;
		margin: 15px auto;
	}

	.Single-services-title1, .Single-services-title2, .Single-services-title3 {
		text-align: center;
		width: calc(20vw + 200px);
		margin: 0 auto;
	}



	.About {
		height: 100vh;
		background-color: rgb(233, 230, 230);
		display: block;
		margin-top: 20vh;
	}
		.about-title {
			width: 100%;
			font-size: calc(1.25vw + 12.5px);
			font-family: "Montserrat";
			color: black;
			text-align: center;
			padding-top: 10vh;
		}
		.unvisible-text-about {
			width: 5vw;
			margin: 0 auto;
			font-size: calc(0.75vw + 3px);
			color: rgb(233, 230, 230);
			text-align: center;
			border-bottom: 1.5px solid black;
		}
		.about-subtitle {
			margin-top: 2vh;
			font-size: calc(1vw + 7.5px);
			color: rgb(85, 85, 85);
			text-align: center;
		}

		.about-block-title {
			padding-top: 5vh;
			width: 80%;
			font-size: calc(1vw + 7.5px);
			line-height: 2;
			margin: 0 auto;
		}
		.first-about-block {
			width: 90%;
			margin: 0 auto;
			padding-top: 2.5vh;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
		}
			.f-a-img {
				height: 27.5vh;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-around;
			}
				.f-a-img img {
					width: calc(10vw + 100px);
					height: calc(10vw + 100px);
				}
				.img-title {
					width: calc(10vw + 100px);
					text-align: center;
					font-size: calc(1vw + 15px);
				}
				.img-subtitle {
					width: calc(10vw + 100px);
					text-align: center;
					font-size: calc(0.75vw + 7.5px);
				}
}
